<ion-header>
  <ion-toolbar>
    <ion-title>
      表单
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<h1>响应式表单</h1>
<h4>单个控件的值(FormControl)</h4>
<app-name-editor></app-name-editor>
<h4>控件分组(FormGroup)</h4>
<app-profile-editor></app-profile-editor>

<hr style="background:#d3d3d3"/>
<h1>模板驱动表单</h1>
<app-hero-form></app-hero-form>

<hr style="background:#d3d3d3"/>
<h1>表单验证</h1>
<app-hero-form-template></app-hero-form-template>
<hr style="background:#d3d3d3"/>
<app-hero-form-reactive></app-hero-form-reactive>
</ion-content>
