<ion-header>
    <ion-toolbar>
        <ion-title>
            Tab Two
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <!-- 组件交互 -->
  123
  <!-- <app-hero-child *ngFor="let hero of Hero" [hero]="hero">
    </app-hero-child> -->
    <!-- @Input/setter.getter -->
    <app-hero-child *ngFor="let hero of Hero" [hero]="hero" [master]="master">
      </app-hero-child>

  <!-- ngOnChanges -->
  <button (click)="newMinor()" >小版本更新</button>
  <button (click)="newMajor()" >大版本更新</button>
  <app-version-child [minor]="minor" [major]='major'></app-version-child>

  <!-- EventEmitter属性 子组件利用属性emit事件 -->
  <h3>Agree:{{agreed}},Disagree:{{disagreed}}</h3>
  <app-voter *ngFor="let voter of voters" [name]='voter' (voted)='onVoted($event)'></app-voter>

  <!-- 本地变量#<const> -->
  <h3>本地变量#const倒计时</h3>
  <button (click)="timer.start()">Start</button>
  <button (click)="timer.stop()">Stop</button>
  <div class="seconds">{{timer.seconds}}</div>
  <app-countdown-timer #timer></app-countdown-timer>

  <!-- 父组件调用@ViewChild -->
  <h3>父组件调用@ViewChild倒计时</h3>
  <button (click)="start()">Start</button>
  <button (click)="stop()">Stop</button>
  <div class="seconds">{{seconds()}}</div>
  <app-countdown-timer ></app-countdown-timer>
</ion-content>