<ion-header>
  <ion-toolbar>
    <ion-title>
      首页
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <!-- css类绑定 -->
 <div class="bad" [class.special]="!a">1</div>
 <!-- 样式绑定 -->
 <div [style.font-size]="!a?'x-large':'smaller'" >This idv is x-large or smaller</div>
 <!-- 
   内置属性型指令:
   ngClass
   ngStyle
   ngModel
  -->
<div [ngClass]="{'bad': false,'special':true}">ABC</div>
<div [ngStyle]="currentStyles">EFG</div>
<input [(ngModel)]="currentHero.name"/>
<span>{{currentHero.name}}</span>

<!-- 
   内置结构型指令:
   *ngIf
   *ngFor
   *ngSwitch
  -->

 <p *ngIf="Msg.length>2" >There are many goals!</p>

 <ul>
  <li *ngFor="let item of Msg" >
    <h1>{{item.idx}} {{item.name}}</h1>
  </li>
</ul>

<div [ngSwitch]="currentHero.emotion">
<p *ngSwitchCase="happy">
  123
</p>
<p *ngSwitchCase="false">
  456
</p>
<p *ngSwitchDefault>
  789
</p>

<!-- 模版表达式操作符
      管道操作符|
      安全导航操作符？.（空属性路径）
      非空断言操作符（！）
-->
</div>


<button (click)="onClickMe()">
  Click Me!
</button>
{{clickMsg}}

<input type="text" (keyup)="onKey($event)">
<p>{{values}}</p>

<input #box (keyup)='0'>
<p>{{box.value}}</p>

<h1>管道操作符</h1>
<!-- 
  DatePipe 根据区域设置规则格式化日期值
  CurrencyPipe 把数字转换为金额字符串
  PercentPipe 把数字转换为百分比字符串
 -->
<p>
  My birthday is {{birthday|date:"yyyy/MM/dd"}}
</p>
<h4>自定义管道</h4>
<div>Normal power：<input [(ngModel)]="power"></div>
<div>Boost factor：<input [(ngModel)]="factor"></div>
<p>Super Power:{{power|exponentialStrength:factor}}</p>

<!-- 
  纯管道
  Angular 只有在它检测到输入值发生了纯变更时才会执行纯管道。 纯变更是指对原始类型值(String、Number、Boolean、Symbol)的更改， 
  或者对对象引用(Date、Array、Function、Object)的更改。
  非纯管道
  Angular 会在每个组件的变更检测周期中执行非纯管道。 非纯管道可能会被调用很多次，和每个按键或每次鼠标移动一样频繁。
  要在脑子里绷着这根弦，必须小心翼翼的实现非纯管道。 一个昂贵、迟钝的管道将摧毁用户体验
 -->

<h4>纯管道</h4>
<app-flying-heroes></app-flying-heroes>

<h4>非纯管道</h4>
<app-flying-heroes-impure></app-flying-heroes-impure>
</ion-content>
