<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>动态组件</h1>
<div>
  <app-ad-banner [ads]='ads'></app-ad-banner>
</div>

<h1>属性型指令</h1>
<p appHighlight="yellow">Hightlight Me!yellow</p>
<p appHighlight="orange">Hightlight Me!orange</p>



<h4>选择颜色</h4>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<!-- 可传多个属性 -->
<p [appHighlight]='color' defaultColor="violet">Highlight me!</p>
<p [appHighlight]='color'>Highlighted noDefaultColor</p>

<h1>结构型指令</h1>
<!-- 结构型指令可以操纵HTML的元素布局
     当没有合适的宿主元素时，可以使用<ng-container>对元素进行分组
     Angular会把星号*语法解开成<ng-template>
-->
<p>
    The condition is currently
    <span [ngClass]="{ 'a': !condition, 'b': condition, 'unless': true }">{{condition}}</span>.
    <button
      (click)="condition = !condition"
      [ngClass] = "{ 'a': condition, 'b': !condition }" >
      Toggle condition to {{condition ? 'false' : 'true'}}
    </button>
  </p>
<p *appUnless="condition">
  (A) This paragraph is displayed because the condition is false
</p>
<p *appUnless="!condition">
    (B) This paragraph is displayed because the condition is true
</p>
  

</ion-content>
